.adduser {
    border: 1px dotted;
    padding: 69px;
    margin: 41px 587px;
    background: aliceblue;
}

button {
    margin: 5px;
    padding: 5px;
}

input {
    padding: 5px;
    margin-top: 5px;
}

table, th, tr, td {
    border: 1px solid;
    display: inline-flex;
}
td {
    padding: 15px;
}
.alert { 
    background-color: red;
}
.title {
    margin-left: 200px;
}

button.delete {
    background-color: indianred;
    color: white;
    padding: 0px 6px;
    width: 2em;
}
label {
    color: green
}
p {
    margin-left: 415px;
}