.cancelButton {
    margin-top: 30px;
}
.addItem {
    margin-top: 34px;
}
.list {
    border: 1px dotted;
    padding: 69px;
    margin: 41px 587px;
    background: aliceblue;   
}
.logout {
    margin-left: 370px;
    background-color: aliceblue;
}